// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Vuetify
@import '~vuetify/dist/vuetify.min.css';

@import '~@mdi/font/css/materialdesignicons.min.css';

body{
    background-color: rgba(85, 239, 196, .1);
    #head-nav{
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: rgba(85, 239, 196, .3) !important;
    }
    main{
        padding-top: 5rem;
    }
}